.container {
  background-color: black;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  color: white;
  background-image: url("/images/aboutBackground.png");
}

.overlay {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 25px;
}


.title {
  font-size: 1.7rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 1.111rem 20px 0 20px;    
  position: relative;
  z-index: 1;
}

.title span {
  color: var(--blue-400);
}


.subTitle {
  text-align: center;
  padding: 1.111rem 20px;
  letter-spacing: 1px;
  line-height: 25px;
  position: relative;
  z-index: 1;
}

.button {
  font-family: "Cinzel", serif;
    position: relative;
  z-index: 1;
}

.notaBene {
  width: 90%;
  border: 1px solid white;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  color: white;
  text-align: center;
  gap: 10px;
  padding: 10px;
  width: fit-content;
  max-width: 90%;
}

.notaBene span {
  font-style: italic;
}