.container {
  width: 100%;
  padding: 30px 20px 20px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  /* background-image: linear-gradient(
    #cfdae0 0%,
    #e2d8d6 27.95%,
    #e0cdd1 59.96%,
    #d6cdda 85.42%,
    #b8cbe1 100%
  ); */
  background-image: url("/images/aboutBackground.png");
  background-position: -800px;
  background-repeat: no-repeat;
}

.top,
.bottom {
  width: 100%;
}

.top {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  padding-bottom: 30px;
}

.links {
  width: 100%;
  padding-bottom: 30px;
  color: white;
}
.links ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 18px;
}

.contacts {
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: white;
  padding-bottom: 20px;
}
.contact {
  display: flex;
  align-items: center;
  gap: 10px;
}

.social {
  font-size: 20px;
  border: 2px solid var(--blue-400);
  border-radius: 50%;
  padding: 10px;
}

.legal {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  color: white;
}

@media (min-width: 768px) {
  .container {
    background-position: 0;
  }

  .contacts, .links {
    flex-direction: row;
    width: 90%;
    justify-content: space-between;
  }

  .links ul {
    flex-direction: row;
  }
}
