.container {
  background-color: black;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  z-index: 1;
}

.overlay {
  position: absolute;
  z-index: 10;
  padding: 1.111rem;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.235);
  color: white;
  overflow: hidden;
}

.logo {
  height: fit-content;
  filter: drop-shadow(0 4px 6px rgba(0, 0, 0, 0.9));
}

.logo img {
  margin: auto;
  display: block;
}



.text {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 65%;
  padding: 0.6rem;
}

.title {
  font-size: 3rem;
  line-height: 3.5rem;
}

.subTitle {
  padding-top: 10px;
  font-size: 1.1rem;
}

.subTitle span {
  color: var(--blue-400);
}

.button {
  background-color: transparent;
  border: 2px solid var(--blue-400);
  color: white;
  font-family: inherit;
  width: fit-content;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: "Raleway";
  font-size: 1rem;
  border-radius: 50px;
  cursor: pointer;
}

.video {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.video video {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
