.container {
  background-color: #b8d3e3;
  width: 100vw;
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 20px;
  padding-bottom: 50px;
}

.title{
    display: flex;
    justify-content: center;
}

.title h2 {
    color: white;
    text-align: center;
    line-height: 30px;
}

.title h2 span {
    color: var(--blue-400);
}

.content {
    display: flex;
    flex-direction: column;
    gap: 30px;
    font-size: 18px;
}

.content p {
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 10px;
    align-items: center;
}
.content p svg {
    font-size: 30px;
}

.content p span {
    font-weight: 900;
}