.page {
  width: 100vw;
  max-width: 100vw;
  overflow: hidden;
}

.burgerContainer {
  z-index: 12;
  position: absolute;
  top: 60px;
  right: 30px;
}

.burger {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  padding: 0;
}

.menu {
  height: 100vh;
  width: 100vw;
  background-color: #b8d3e3;
  position: fixed;
  transition: transform 0.5s ease;
  z-index: 11;
  transform: translateX(100vw);
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu ul {
    list-style: none;
    transition: opacity 1.2s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    color: white;
    font-size: 20px;
    text-align: center;
}

.menu ul li {
  position: relative;
  width: fit-content;
}



.menu ul li::after {
  content: "";
  height: 2px;
  width: 0;
  background-color: white;
  position: absolute;
  left: 0;
  bottom: -5px;
  border-radius: 5px;
  transition: width .5s ease;
}

.menu ul li:hover:after {
    width: 100%;

}

.burger svg {
  background-color: transparent;
  border: none;
}
.line {
  fill: none;
  stroke-width: 6;
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke 1s ease;
}
.line1 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}
.line2 {
  stroke-dasharray: 60 60;
  stroke-width: 6;
}
.line3 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}
.opened .line1 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}
.opened .line2 {
  stroke-dasharray: 1 60;
  stroke-dashoffset: -30;
  stroke-width: 6;
}
.opened .line3 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}